@use '/src/style/partials/variables.scss';

.container-lg {
    width: 100%;
}

.container-md {
    width: 1080px;
    margin: auto;
}

.container-sm {
    width: 745px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.gap-sm {
    gap: 10px;
}

.gap-md {
    gap: 25px;
}

.gap-lg {
    gap: 35px;
}

.between {
    justify-content: space-between;
}

.centered {
    align-items: center;
}

.column {
    flex-direction: column;
}

.grow {
    flex-grow: 1;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    max-width: 50%;
}

.col-4 {
    max-width: calc(100% / 3);
}

.col-3 {
    max-width: 25%;
}

.button-yellow {
    background-color: variables.$brand-yellow;
    border: none;
    color: currentColor;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 0 15px 0 15px ;

    &:hover {
        background-color: variables.$brand-green;
    }
}

.button-green {
    background-color: variables.$brand-green;
    border: none;
    color: currentColor;
    font-weight: 500;
    padding: 15px 40px;
    border-radius: 0 15px 0 15px ;

    &:hover {
        background-color: variables.$brand-yellow;
    }
}