.container-lg {
    width: 100%;
}

.container-md {
    width: 1080px;
}

.container-sm {
    width: 745px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.between {
    justify-content: space-between;
}

.centered {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    max-width: 50%;
}

.col-4 {
    max-width: calc(100% / 3);
}

.col-3 {
    max-width: 25%;
}