.container-lg {
    width: 100%;
}

.container-md {
    width: 1080px;
    margin: auto;
}

.container-sm {
    width: 745px;
    margin: auto;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.gap-sm {
    gap: 10px;
}

.gap-md {
    gap: 25px;
}

.between {
    justify-content: space-between;
}

.centered {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    max-width: 50%;
}

.col-4 {
    max-width: calc(100% / 3);
}

.col-3 {
    max-width: 25%;
}